
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title-Rent & Run</title>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>


    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/owl.theme.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/wickedpicker.css" rel="stylesheet" />
    <a href="~/fonts/fontello.eot"></a>
    <a href="~/fonts/fontello.ttf"></a>
    <a href="~/fonts/fontello.woff"></a>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.countup.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <script src="~/js/wickedpicker.js"></script>
    <a href="~/webfonts/fa-brands-400.eot"></a>
    <a href="~/webfonts/fa-brands-400.ttf"></a>
    <a href="~/webfonts/fa-brands-400.woff"></a>
    <a href="~/webfonts/fa-brands-400.woff2"></a>
    <a href="~/webfonts/fa-regular-400.eot"></a>
    <a href="~/webfonts/fa-regular-400.ttf"></a>
    <a href="~/webfonts/fa-regular-400.woff"></a>
    <a href="~/webfonts/fa-regular-400.woff2"></a>
    <a href="~/webfonts/fa-solid-900.eot"></a>
    <a href="~/webfonts/fa-solid-900.ttf"></a>
    <a href="~/webfonts/fa-solid-900.woff"></a>
    <a href="~/webfonts/fa-solid-900.woff2"></a>

</head>

<body>

    <!-- services -->
    <section class="services py-5">
        <div class="container py-lg-5">
            <h1 class="heading text-capitalize text-center">Our Services</h1>
            <h5 class="heading mb-5 text-center">Rent & Run</h5>
            <div class="row service-grids">
                <div class="col-lg-4">
                    <h3 class="text-capitalize mb-3">We have a range of vehicles</h3>
                    <p class="mb-3">Vestibulum et augue eu nibh tincidunt pretium vitae eget purus. Pellentesque necist urna eleifend, semper eros sed, sollicitudin justo. Nam finibus sollicitudin enim, nec blan ditmi laoreet sed. Morbi auctor purus ac ligula aliquetis vestibulum. Quisque vitae sollicitu dinet augue eu pretium vitae.</p>
                </div>
                <div class="col-lg-2 col-6">
                    <img src="images/1.png" alt="" class="img-fluid" />
                    <img src="images/2.png" alt="" class="img-fluid" />
                    <img src="images/3.png" alt="" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-6">
                    <img src="images/3.png" alt="" class="img-fluid" />
                    <img src="images/1.png" alt="" class="img-fluid" />
                    <img src="images/2.png" alt="" class="img-fluid" />
                </div>
                <div class="col-lg-4">
                    <h4 class="text-capitalize"><i class="fas fa-taxi clr1"></i>Luxury Cars</h4>
                    <p class="mb-4"> Vestibulum et augue eunibh metus diam.</p>
                    <h4 class="text-capitalize"><i class="fas fa-bus clr2"></i>Luxury Vans</h4>
                    <p class="mb-4"> Vestibulum et augue eunibh metus diam.</p>
                    <h4 class="text-capitalize"><i class="fas fa-car clr3"></i>Luxury Elite</h4>
                    <p class="mb-4"> Vestibulum et augue eunibh metus diam laoreet.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!-- Why taxi cab -->
    <section class="why">
        <div class="container-fluid p-md-5 p-3">
            <h3 class="heading text-capitalize text-center">Why taxi cab</h3>
            <h5 class="heading mb-5 text-center">Rent & Run</h5>
            <div class="row why-grids">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 mb-4 grid1 text-center">
                        <h4 class="mx-auto"><span>1</span></h4>
                        <p class="mt-5">Top Rated Drivers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 mb-4 grid2 text-center">
                        <h4 class="mx-auto"><span>2</span></h4>
                        <p class="mt-5">Safety Journey</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 mb-4 grid3 text-center">
                        <h4 class="mx-auto"><span>3</span></h4>
                        <p class="mt-5">Without Peak Pricing</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 mb-4 grid4 text-center">
                        <h4 class="mx-auto"><span>4</span></h4>
                        <p class="mt-5">Fast And Secure</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 mb-md-0 mb-4 grid5 text-center">
                        <h4 class="mx-auto"><span>5</span></h4>
                        <p class="mt-5">Lowest Rates</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 mb-md-0 mb-4 grid6 text-center">
                        <h4 class="mx-auto"><span>6</span></h4>
                        <p class="mt-5">Best Quality Cabs</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 mb-sm-0 mb-4 grid7 text-center">
                        <h4 class="mx-auto"><span>7</span></h4>
                        <p class="mt-5">Online Booking</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="py-5 px-2 grid8 text-center">
                        <h4 class="mx-auto"><span>8</span></h4>
                        <p class="mt-5">24/7 Cab Service</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Why taxi cab -->
    <!-- Cars slider -->
    <section class="food-Slider py-5">
        <div class="container py-lg-5">
            <h3 class="heading text-capitalize text-center">Rent & Run</h3>
            <h5 class="heading mb-5 text-center">Taxi Cab</h5>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/1.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/2.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/3.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/1.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/2.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/3.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/1.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/2.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/3.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!-- //Cars slider -->

</body>


